.header
{
    border-bottom: 1px solid black;
    height: 100px;
    width: 100%;

}

/* For main division of header */
.header-maindiv
{
    height:100%;
    width:100%;
    
}
.header-innerdiv
{
    height:50%;
    width:20%;
    padding:100px;
    
    border:1px solid black;
}
.header-innerdiv1
{
    height:50%;
    width:40%
    float:left;
}


