.form-control
{
	display: block;
	padding: 1.6rem !important;
	color: #495057;
	background-color: #fff;
	border: none;
	border-radius: 2rem;
	margin: 1rem 0;
}
.form-button 
{
	border-radius: 10rem;
	font-size: 1.9rem !important;
    width: 60px;
    padding-top: 0 !important;
	margin-top : 1rem ; 
}
.form-submit 
{
	border: none;
	padding: 11px 22px !important;
	border-radius: 10rem;
	font-size: 1.2rem !important;
	/* float: right; */
	margin-top : 1rem;
}
