/* Header starts from here */
.header
{
    display: flex;
    flex-direction: column;
    border-bottom:2px solid gray;
}
.header .container1
{
    border:1px solid black;
    /* padding:5px; */
    background-color:rgb(20, 19, 19);
    text-align: center;
}
.header .link
{
    /* padding-left:25px; */
    font-size: 20px;
    color: white;
    padding:10px;
} 
.header .container2-left
{
    border-bottom: 1px solid gray;
    padding:100px 0px 100px 50px;
    display: flex; 
    justify-content: flex-start;
}
.header .img
{
    height:350px;
    width:370px;
}
.header .container-right
{
    margin-left: 50px;
}
.header .p1
{
    padding-top:5px;
    font-size: 60px;
    font-family: sans-serif;
    color: rgb(82, 79, 79);
}
.header .p2
{
    padding-top:10px;
    font-size: 30px;
    color: gray;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header .button
{
    margin-top: 20px;
    font-size: 25px;
    color:white;
    background-color: rgb(27, 151, 145);
    border-radius: 8px;
    padding:20px 40px 20px 40px;
    border:none;
}
/* header end here */

/* Media query for header starts from here */
@media only screen and (min-width: 375px) and (max-width:424px)
 {  
    .header
    {
      display: flex;
      flex-direction: column;
    }
    .header .container1
    {
        padding:5px;
        background-color:rgb(19, 19, 19);
        text-align: center;
    }
    .header .link
    {
        padding-left:25px;
        font-size: 10px;
        color: white;
    } 
    .header .container2-left
    {
        border-bottom: 1px solid gray;
        padding:40px 5px 40px 5px;
        display: flex; 
        justify-content: flex-start;
    }
    .header .img
    {
        height:120px;
        width:100px;
    }
    .header .container-right
    {
        margin-left: 15px;
    }
    .header .p1
    {
        padding-top:5px;
        font-size: 16px;
        font-family: sans-serif;
        color: rgb(82, 79, 79);
    }
    .header .p2
    {
        padding-top:10px;
        font-size: 8px;
        color: gray;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .header .button
    {
        margin-top: 10px;
        font-size: 10px;
        color:white;
        background-color: rgb(27, 151, 145);
        border-radius: 8px;
        padding:10px 25px 10px 25px;
        border:none;
    }
}


@media only screen and (min-width: 768px) and (max-width:1023px)
{
    .header
{
    display: flex;
    flex-direction: column;
    border-bottom:2px solid gray;
}
.header .container1
{
    border:1px solid black;
    /* padding:5px; */
    background-color:rgb(20, 19, 19);
    text-align: center;
}
.header .link
{
    /* padding-left:25px; */
    font-size: 20px;
    color: white;
    padding:10px;
} 
.header .container2-left
{
    border-bottom: 1px solid gray;
    padding:80px 0px 80px 30px;
    display: flex; 
    justify-content: flex-start;
}
.header .img
{
    height:200px;
    width:150px;
}
.header .container-right
{
    margin-left: 30px;
}
.header .p1
{
    padding-top:5px;
    font-size: 32px;
    font-family: sans-serif;
    color: rgb(82, 79, 79);
}
.header .p2
{
    padding-top:10px;
    font-size: 17px;
    color: gray;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header .button
{
    margin-top: 20px;
    font-size: 15px;
    color:white;
    background-color: rgb(27, 151, 145);
    border-radius: 8px;
    padding:15px 20px 15px 20px;
    border:none;
}
}







/* Container starts from here  */
.container
{
    display:flex;
    padding:40px;
    background-color: rgba(236, 233, 233, 0.534);
    flex-direction: column;
    border-bottom: 2px solid gray;
    padding-bottom:100px;
}
.container .div1
{
    text-align: center;
    font-size:25px;
    font-family: sans-serif;
    padding-top:30px;
}
.container .p1
{
    font-size:20px;
    text-align: center;
    text-decoration:none;
    color:gray;
}
.container .middlediv
{
    display: flex;
    margin-top:10px;
}
.container .mdiv1
{
    border:1px solid gray;
    background-color: white;
    padding:40px 46px 40px 46px; 
    margin-left: 15px;    
}
.container .p2
{   
    text-align: center;
    font-size:35px;
    color:rgb(68, 67, 67);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container .img1
{
     margin-left:120px;
}
.container .p3
{
    font-size: 25px;
    color: gray;
}
.container .lastdiv
{
    display: flex;
    margin-top:10px;
    flex-direction: column;
}
.container .p4
{
    text-align: center;
    font-size: 25px;
    color: gray;
}
.container .button
{
    margin-top: 15px;
    font-size: 20px;
    color:white;
    background-color: rgb(27, 151, 145);
    border-radius: 8px;
    padding:15px 40px 15px 40px;
    border:none;
}
.container .div2
{
    text-align: center;
}

/* Media query for container starts from here */
@media only screen and (max-width: 375px)
{
    .container
    {
        display:flex;
        padding:5px;
        background-color: rgba(236, 233, 233, 0.534);
        flex-direction: column;
        border-bottom: 2px solid gray;
        justify-content: flex-start;
        padding-bottom:60px;
    }
    .container .div1
    {
        text-align: center;
        font-size:15px;
        font-family: sans-serif;
        /* padding-top:20px; */
    }
    .container .p1
    {
        font-size:12px;
        text-align: center;
        text-decoration:none;
        color:gray;
    }
    .container .middlediv
    {
        display: flex;
        margin-top:5px;
        
    }
    .container .mdiv1
    {
        border:1px solid gray;
        background-color: white;
        padding:10px 5px 10px 5px; 
        margin-left: 3px;    
    }
    .container .p2
    {   
        text-align: center;
        font-size:10px;
        color:rgb(68, 67, 67);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .container .img1
    {   
        height:30px;
        width:30px;
        margin-left:30px;
    }
    .container .p3
    {
        font-size: 7px;
        color: gray;
        text-align: justify;
    }
    .container .lastdiv
    {
        display: flex;
        margin-top:10px;
        flex-direction: column;
    }
    .container .p4
    {
        text-align: center;
        font-size: 10px;
        color: gray;
    }
    .container .button
    {
        margin-top: 5px;
        font-size: 10px;
        color:white;
        background-color: rgb(27, 151, 145);
        border-radius: 8px;
        padding:7px 15px 7px 15px;
        border:none;
    }
    .container .div2
    {
        text-align: center;
    }
} 





/* container two starts from here */
.containertwo
{
    display:flex;
    /* padding:40px; */
    background-color: rgba(221, 217, 217, 0.534);
    flex-direction: column;
    border-bottom: 2px solid gray;
    padding-bottom:100px;
}
.containertwo .div1
{
    text-align: center;
    font-size:25px;
    font-family: sans-serif;
    padding-top:30px;
}
.containertwo .p1
{
    font-size:20px;
    text-align: center;
    text-decoration:none;
    color:gray;
}
.containertwo .middle
{
    display: flex;
    margin-top:10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.containertwo .img1
{
    height:300px;
    width:450px;
}
.containertwo .div3
{
    margin-top:15px;
    padding-bottom:20px;
    background-color: white;
}
.containertwo .div4
{
    text-align: center;
    font-size:25px;
    margin-top:20px;
    color: rgb(19, 18, 18);
}
.containertwo .div5
{
    text-align: center;
    font-size:22px;
    margin-top:5px;
    color: gray;
}
.containertwo .lastdiv
{
    display: flex;
    margin-top:30px;
    flex-direction: column;
}
.containertwo .p4
{
    text-align: center;
    font-size: 25px;
    color: gray;
}
.containertwo .div6
{
    text-align: center;
}
.containertwo .button
{
    margin-top: 15px;
    font-size: 20px;
    color:white;
    background-color: rgb(27, 151, 145);
    border-radius: 8px;
    padding:15px 40px 15px 40px;
    border:none;
}

/* media query for container two starts from here */
@media only screen and (max-width: 375px)
{
    .containertwo
    {
        display:flex;
        /* padding:40px; */
        background-color: rgba(221, 217, 217, 0.534);
        flex-direction: column;
        border-bottom: 2px solid gray;
        padding-bottom:60px;
        justify-content: flex-start;
    }
    .containertwo .div1
    {
        text-align: center;
        font-size:10px;
        font-family: sans-serif;
        /* padding-top:30px; */
    }
    .containertwo .p1
    {
        font-size:8px;
        text-align: center;
        text-decoration:none;
        color:gray;
    }
    .containertwo .middle
    {
        display: flex;
        margin-top:7px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .containertwo .img1
    {
        height:80px;
        width:115px;
    }
    .containertwo .div3
    {
        margin-top:10px;
        padding-bottom:15px;
        background-color: white;
    }
    .containertwo .div4
    {
        text-align: center;
        font-size:10px;
        margin-top:12px;
        color: rgb(19, 18, 18);
    }
    .containertwo .div5
    {
        text-align: center;
        font-size:7px;
        margin-top:5px;
        color: gray;
    }
    .containertwo .lastdiv
    {
        display: flex;
        margin-top:18px;
        flex-direction: column;
    }
    .containertwo .p4
    {
        text-align: center;
        font-size: 10px;
        color: gray;
    }
    .containertwo .div6
    {
        text-align: center;
    }
    .containertwo .button
    {
        margin-top: 12px;
        font-size: 10px;
        color:white;
        background-color: rgb(27, 151, 145);
        border-radius: 8px;
        padding:7px 17px 7px 17px;
        border:none;
    }
}





/* footer starts from here */
.footer
{
    display:flex;
    /* padding:40px; */
    background-color: rgb(63, 62, 62);
    flex-direction: column;
    border-bottom: 2px solid gray;
    padding-bottom:100px;
    justify-content: flex-start;
}
.footer .div1
{
    text-align: center;
    font-size:25px;
    font-family: sans-serif;
    margin-top:100px;
    color: rgb(228, 224, 224);
}
.footer .p1
{
    font-size:20px;
    text-align: center;
    text-decoration:none;
    color:rgb(170, 168, 168);
}
.footer .form1
{
    border-bottom:1px inset rgb(37, 37, 37);
    margin-top:10px;
    padding-bottom:15px;
}
.footer .form-div1
{
    /* padding:50px; */
    text-align: center;
}
.footer .input1
{
    background-color: rgb(37, 37, 37);
    width: 500px;
    padding: 20px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    margin-left:10px;
}
.footer .input2
{
    background-color: rgb(37, 37, 37);
    width: 1018px;
    padding: 20px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    margin-left:10px;
}
.footer .button
{
    margin-top: 10px;
    font-size: 20px;
    color:white;
    background-color: rgb(27, 151, 145);
    border-radius: 8px;
    padding:13px 30px 13px 30px;
    border:none;
}

.footer .button1
{
    margin-top: 10px;
    font-size: 20px;
    color:white;
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    padding:13px 30px 13px 30px;
    border:none;
    margin-left:17px;
}

.footer .div2
{
    
    border-bottom:1px inset rgb(37, 37, 37);
    margin-top:10px;
    padding:30px 0px 50px 0px;
}

.footer .div2-text
{
    text-align: center;
    color: rgb(236, 231, 231);
    font-size:18px;
    font-family: sans-serif;
    
}
.footer .div2-icon
{
    text-align: center;
}

.fa {
    padding: 15px;
    font-size: 40px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 4px;
  }
.fa-facebook 
{
    background-color: rgb(75, 73, 73);
    color: rgb(37, 37, 37);
}
.fa-twitter
{
    background-color: rgb(75, 73, 73);
    color: rgb(37, 37, 37);
}
.fa-dribbble
{
    background-color: rgb(75, 73, 73);
    color: rgb(37, 37, 37);
}
.fa-linkedin
{
    background-color: rgb(75, 73, 73);
    color: rgb(37, 37, 37);
}
.fa-tumblr
{
    background-color: rgb(75, 73, 73);
    color: rgb(37, 37, 37);
}
.fa-google
{
    background-color: rgb(75, 73, 73);
    color: rgb(37, 37, 37);
}
.fa-github
{
    background-color: rgb(75, 73, 73);
    color: rgb(37, 37, 37);
}

.footer .div2-lastdiv
{
    text-align: center;
    /* padding:50px; */
    font-size: 25px;;
    color:rgb(37, 37, 37);
    /* border-bottom:1px inset rgb(37, 37, 37); */
}

@media only screen and (max-width: 375px) 
{
    .footer
    {
        display:flex;
        /* padding:40px; */
        background-color: rgb(63, 62, 62);
        flex-direction: column;
        border-bottom: 2px solid gray;
        padding-bottom:100px;
        justify-content: flex-start;
    }
    .footer .div1
    {
        text-align: center;
        font-size:12px;
        font-family: sans-serif;
        margin-top:40px;
        color: rgb(228, 224, 224);
    }
    .footer .p1
    {
        font-size:9px;
        text-align: center;
        text-decoration:none;
        color:rgb(170, 168, 168);
    }
    .footer .form1
    {
        border-bottom:1px inset rgb(37, 37, 37);
        margin-top:10px;
        padding-bottom:40px;
    }
    .footer .form-div1
    {
        /* padding:50px; */
        text-align: center;
    }
    .footer .input1
    {
        background-color: rgb(37, 37, 37);
        width: 150px;
        padding: 5px 5px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        border: none;
        margin-left:5px;
    }
    .footer .input2
    {
        background-color: rgb(37, 37, 37);
        width: 310px;
        padding: 5px 5px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        border: none;
        margin-left:5px;
    }
    .footer .button
    {
        /* margin-top: 5px; */
        font-size: 10px;
        color:white;
        background-color: rgb(27, 151, 145);
        border-radius: 8px;
        padding:8px 15px 8px 15px;
        border:none;
    }

    .footer .button1
    {
        /* margin-top: 5px; */
        font-size: 10px;
        color:white;
        background-color: rgb(37, 37, 37);
        border-radius: 8px;
        padding:8px 15px 8px 15px;
        border:none;
        margin-left:5px;
    }

    .footer .div2
    {
        
        /* border-bottom:1px inset rgb(37, 37, 37); */
        margin-top:5px;
        padding:15px 0px 30px 0px;
    }

    .footer .div2-text
    {
        text-align: center;
        color: rgb(236, 231, 231);
        font-size:12px;
        font-family: sans-serif;
        
    }
    .footer .div2-icon
    {
        text-align: center;
    }

    .fa {
        padding: 8px;
        font-size: 40px;
        width: 10px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 4px;
    }
    .fa-facebook 
    {
        background-color: rgb(75, 73, 73);
        color: rgb(37, 37, 37);
    }
    .fa-twitter
    {
        background-color: rgb(75, 73, 73);
        color: rgb(37, 37, 37);
    }
    .fa-dribbble
    {
        background-color: rgb(75, 73, 73);
        color: rgb(37, 37, 37);
    }
    .fa-linkedin
    {
        background-color: rgb(75, 73, 73);
        color: rgb(37, 37, 37);
    }
    .fa-tumblr
    {
        background-color: rgb(75, 73, 73);
        color: rgb(37, 37, 37);
    }
    .fa-google
    {
        background-color: rgb(75, 73, 73);
        color: rgb(37, 37, 37);
    }
    .fa-github
    {
        background-color: rgb(75, 73, 73);
        color: rgb(37, 37, 37);
    }

    .footer .div2-lastdiv
    {
        text-align: center;
        padding-top:20px;
        font-size: 8px;;
        color:rgb(37, 37, 37);
        /* border-bottom:1px inset rgb(37, 37, 37); */
    }
}