.header
{
    background-image: url("../image/banner.png");
    background-position-x: center;
    background-position-y: center;
    background-size: auto 100%;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(204, 232, 244);
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    padding: 8em 0;
    margin: 1em 0 0 0;
    
}

.banner
{
    background-color: rgba(34, 30, 31, 0.98);
    display: inline-block;
    padding: 2.5em 5em;
    border-radius: 5px;
}
header.portfolio 
{
    position: relative;
    text-align: center;
    border-top: solid 1px #ccc;
    top: 1em;
    margin: 0 0 3em 0;
}
header.portfolio h2 
{
    /* background-color: #f7f7f7; */
    position: relative;
    top: -0.65em;
    display: inline;
    margin: 0;
    padding: 0 1em 0 1em;
}

