.header
{
    background-image: url("../image/banner.png");
    background-position-x: center;
    background-position-y: center;
    background-size: auto 100%;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(204, 232, 244);
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    padding: 8em 0;
    margin: 1em 0 0 0;
    
}

.banner
{
    background-color: rgba(34, 30, 31, 0.98);
    display: inline-block;
    padding: 2.5em 5em;
    border-radius: 5px;
}
header.portfolio 
{
    position: relative;
    text-align: center;
    border-top: solid 1px #ccc;
    top: 1em;
    margin: 0 0 3em 0;
}
header.portfolio h2 
{
    /* background-color: #f7f7f7; */
    position: relative;
    top: -0.65em;
    display: inline;
    margin: 0;
    padding: 0 1em 0 1em;
}


ul.dates .date {
    display: block;
    position: absolute;
    left: 0;
    /* top: 1.3em; */
    background-color: #d52349;
    height: 3.5em;
    text-align: center;
    color: #fff;
    line-height: 1em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5em 0.75em 0 1em;
}
ul.dates 
{
    list-style: none;
    padding-left: 0;
}
ul.dates .date:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -1.2em;
    border-left: solid 1.25em #d52349;
    border-top: solid 1.8em transparent;
    border-bottom: solid 1.8em transparent;
}
ul.dates h5
{
    margin-left: 100px;
}
ul.dates p
{
    margin-left: 100px;
}
.footer-bg
{
    background-color:#1a1919;
}


